@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: 'Darumadrop One', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls {
    position: absolute;
    top: 22px;
    left: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

select#setting {
    margin: 12px;
    padding: 3px;
    font-weight: 500;
    font-size: medium;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

select#setting:disabled {
    color: #9B9B9B;
    cursor: default;
}

div#select-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

div#select-player > button {
    border: none;
    background: none;
    font-size: larger;
    cursor: pointer;
}

div#select-player > button:disabled {
    cursor: default;
    opacity: 0.4;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#turn {
    font-size: large;
    padding: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    background-color: black;
    margin: 20px;
}

.grid-item {
    /* font-family: 'Varela Round', sans-serif; */
    background-color: white;
    border: none;
    text-align: center;
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    color: black;
    font-size: xx-large;
    font-weight: 600;
    transition: 0.25s ease;
}

.grid-item:disabled {
    cursor: default;
}

#restart {
    margin: 10px 0;
    padding: 9px 20px 12px 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #EEEEEE;
}

#restart:disabled {
    cursor: default;
    background-color: #EEEEEE;
    color: #9B9B9B;
}

#winner {
    height: 35px;
    text-align: center;
}